.portfoliocontainer {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
  margin-bottom: 100px;
  padding-top: 90px;
}
.PortfolioBg{
  background-color: #002B5B;
min-height: 100vh !important;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-bottom: 20px;
}
/* background-color: #002B5B; */
.selections {
  margin-bottom: 20px;
  text-align: center;

}

.selections button {
margin-top: 0px;
margin-bottom: 15px;
  margin-right: 10px;
  width: 150px;
  padding: 8px 16px;
  font-size: 13px;
  font-weight: bolder;
  border: 1px solid #000000;
  border-radius: 30px;

  background-color: #d9bfb1;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.selections button:hover {
  background-color: #EA5455;
  font-weight: bolder;
  color: #000000;
}
.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 80px;
  text-align: center;
}

.project {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 15px;
  background-color: #d9bfb1;
}

.project h3 {
  margin-top: 0;
  font-size: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.project-links a {
  display: inline-block;
  padding: 6px 12px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
}

.project-links a:hover {
  background-color: rgb(0, 112, 115);
  color: rgb(255, 255, 255);
}
