.portfoliocontainer {
  margin: 0 auto;
  text-align: center;
margin-top: -24px;
  background-color: #d9bfb1;

  height: 100vh;
}

.portfoliotext {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Portfolio.css */
.portfoliocontainer {
  text-align: center;
  padding: 20px;
}

.selections {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; margin-top: 100px;
}

.selections button {
  width: 150px; 
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.selections button:hover {
  background-color: #0056b3;
}

.projectList {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {

  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
  margin: 0;
  font-size: 18px;
}
