.resume-background {
  min-height: 100vh;
  background-color: #EA5455;
  margin-top: -70px;
}

.resume-welcome-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.resumePic {
  width: 380px; 
  height: auto;
  margin-bottom: 20px;
  margin-top: 200px;
border-radius: 40px;
z-index: 0;
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  z-index: 1;
}

.resume-button {
  background-color: #d9bfb1;
  color: #000000;
  font-weight: bolder;
  text-align: center;
  width: 120px;

font-size: 13px;
  padding: 10px 10px;
  margin: 0 10px;
  border: 2px solid #EA5455;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.resume-button:hover {
  background-color: #53ff29;
  color: #000000;
  font-weight: bold;
}
/* SECONDARY CONTAINER */
.secondaryContainor-2 {
  background-color:#d9bfb1 ;
  position: absolute;

  left: 0;
  height: 94%;
  width: 45.5vw;
}

@media (max-width: 767px) {
  .resumePic {
    margin-top: 100px;
    max-width: 320px;
  }
}